body {
  background:black;
  }
  
  .flex-container {
    color: azure;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: linear-gradient(rgba(15, 0, 26, 1), black);
    
    margin: 0;
    padding: 0;
  }

.board {
    
    width: 650px;
    height: 650px;
    
    display: grid;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(0, 9, 94),
      0.3em 0.3em 3em rgba(94, 152, 240, 0.3);
    
   
    
  }
  
.title {
    display: flex;
    justify-content: center;
  }
h1{
    margin-top: 50px;
    margin-bottom: 0;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
  }

.buttons{
    margin: 25px;
}

input[type=text] {
    border: none;
    width: 40px;
    height: 23px;
    color: azure;
    text-align: center;
    font-weight:bold ;
    font-size: medium;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
    
    
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(0, 9, 94),
      0.2em 0.1em 0.5em rgba(94, 152, 240, 0.3);
      background-color: #000000;
  }



.size{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currentColor{
    width: 30px;
    height: 30px;
    background: aliceblue;
    border-radius: 100%;
    border: 1px solid rgb(250, 250, 250);
}

.between{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 7px 100px;
}

.mode{
    margin-right: 60px ;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}

button {
    background-color: rgb(1, 8, 70);/* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border: 1px solid black
  }

  button:hover {
    opacity: 0.5;
  }

  .rainbow{
    color:  black;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    )
    
  }
.clear{
    padding: 10px 20px;
    margin: 0px 1px 20px 0px;
    background: rgb(49, 0, 0);
}

.clear:hover{
    opacity: 1;
    background: linear-gradient(54deg, red 0%, darkred 100%)
}